# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# System files (Windows)
NTUSER.DAT*
ntuser.dat*
ntuser.ini
*.TM.blf
*.regtrans-ms

# User directories
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
OneDrive/
WPS Cloud Files/
WPSDrive/

# Configuration files
.claude*
.cursor*
.conda*
.continuum*
.anaconda*
.android*
.ssh/
.zshrc
.gitconfig
.git-for-windows-updater
.python_history

# Project specific
clean_c_drive.ps1
deploy_to_github.bat
vercel_deploy.bat
GITHUB_DEPLOYMENT_GUIDE.md
VERCEL_DEPLOYMENT_GUIDE.md
QUICK_VERCEL_DEPLOY.md